.start-container {
  height: 100vh;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-card {
  width: 350px;
  height: 600px;
  background: linear-gradient(#eee, #ddd);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  text-align: center;
}

.logo {
  font-weight: bold;
  margin-bottom: 20px;
}

.start-card h1 {
  font-size: 48px;
  font-weight: bold;
}

.start-card button {
  padding: 16px;
  background: #777;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}